*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Search */
    background: #F9F5ED;
}
nav{
    padding: 20px 10%;
    height: 15vh;
    /* border :1px solid black ; */
}
.img11{
    width: 80%;
}
nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 5%;
    /* gap: 50px; */
    font-weight: 500;
}


/* CSS for HERO Section */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.leftmain{
    /* border :1px solid black ; */
    width: 40%;
}

.leftmain h1{
    font-size: 60px;
}

.leftmain p{
    margin: 5% 0;
}

.leftmain button{
    padding: 15px 20px;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
.imgr1{
    margin-left: 9%;
}
.imgr2{
    margin-left: 5%;
}
.ig1{
    margin-right: 5%;
}
.rightmain{ height: 50%;
    /* border :1px solid black ; */
    width: 80%;
    margin-left: 5%;
    display: grid;
    /* grid-template-ro: auto auto ; */
    row-gap: 15px;
    column-gap: 10px;
    /* padding: 10px 10px ; */
    /* margin: 10px 10px; */
}
