*{
    background-color: #242B2E;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.navfirst{
    /* border: #ffffff solid ; */
    width: 50%;
    margin-left: 224px;
}
.ig1{
    margin-left: 0px;
    margin-top: 30px ;
    width: 20%;
    position: relative;
    top: 20px;

}

.navlist01{
    text-decoration: none;
    color: #ffffff;
    margin-left: 160px;
}
.navlist1{
    text-decoration: none;
    color: #ffffff;
    margin: 0px 14px;
}

/* .nav1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navul{
    list-style: none;
    display: flex;
    justify-content: end;
         align-items: center;
         margin: 0px 15px;
         color: #ffffff;
}
.navli{
    margin: 0px 20px ; */

    /* color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    
}
.navli:hover{
    color: yellow;
}
.navli1{
    margin-left: 150px;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
} */
button{
    padding: 8px;
    color: yellow;
    border: 1px solid yellow;
    border-radius: 10px;
    /* margin-right: 100px; */
    margin-left: 50px;
    margin-top: 50px;

}
/* section  */
section{
    display: flex;
    align-items: center;
    
}
.head1{
    font-size: 60px;
    font-weight: 900;
    color: #ffffff;
    margin-left: 224px;
    margin-top: 60px;
}
.para{
    color: #ffffff;
    margin-left: 130px;
    margin-top: 60px;
}

.ig2{
    width: 65%;
    padding: 10px;
    margin-left: 216px;
    margin-top: 60px;

}