*{margin: 0% ;
    padding: 0%;
box-sizing: border-box;
background-color: #CAD5E2;}
.container{
display: flex;
justify-content: center;
align-items: center;

}
.ig1{
    height: 80%;
    width: 90%;
}
.list1{
    margin: 25px 150px;
    display: flex;
}
nav div ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
nav div ul li {
    list-style: none;
    margin: 0px 40px;
}
.btn1{ background-color: blueviolet;
color: white;
border: none;
border-radius: 10px; 
padding: 10px 10px ;}
.leftsection{ width: 40%;
    margin-left: 200px;
    height: 100% ;
}
.leftsection h1{
     /* margin: 15% 0px; */
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Times New Roman', Times ;
    line-height: 80%;
}
.desc{
    font-size: 20px;
}
.bottom{
    display: flex;
    justify-content: center;
}
.leftsection p{
    margin: 0px 0px;
}
span{ color: blueviolet;}

.btn2{ margin-top: 10%;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 10px ;
    padding: 10px 10px;
}
.rightsection{

height: 75%;
}
.img11{
    height: 75%;
    width: 100%;
}